<div class="note-header">
    <div class="container">
        <h1 class="note-title">Notes</h1>
        <p class="lead note-description">An example Note template built with Bootstrap.</p>
        <%# link_to 'Write a New Note', new_note_path if logged_in?(:site_admin) %>
        <%= link_to 'Write a New Note', new_note_path %>
    </div>
</div>
