<h1 style= 'color: black'>About Me</h1>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "johnwick.jpeg",width: 290,alt:"profile image" %>
  </div>

	<div class="col-md-8">
		<h5 style="color: black">Note-taking (sometimes written as notetaking or note taking) is the practice of recording information captured from another source. By taking notes, the writer records the essence of the information, freeing their mind from having to recall everything.</h5>
	</div>
</div>
