<div class = "row">
  <div class= "col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241316.64370046527!2d72.74075406430367!3d19.082522064690977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1586949817487!5m2!1sen!2sin" width="450" height="300" frameborder="0" style="border:1px;"  aria-hidden="false"></iframe>
  </div>

  <div class = "text-color">
    <div class = "col-md-12">
      <h5> Address:  413 Lower Broughton Rd, Salford M7 2HU, United Kingdom </h5>
    </div>
    <div class = "col-md-10">
      <h5> Email: kiprosh@gmail.com </h5>
      <h5> Phone: +44 1875 035071</h5>
    </div>
    
  </div>
</div>